<!doctype html>
<html lang="fr">
<head>
    {% include "@App/default/head.html.twig" %}
</head>
<body>
    {% include '@App/default/header.html.twig'%}
    <div class="flash">
    {% block flash %}{% endblock %}
</div>
    <div class="form">
    {% block form %}{% endblock %}
</div>

    {% block connexioncontent %}{% endblock %}
    {% include "@App/default/script.html.twig" %}
</body>
</html>