<!doctype html>
<html lang="fr">
<head>
    {% include "@App/default/head.html.twig" %}
</head>
<body onload="hideAdminPopup()">
    {% include '@App/admin/partials/header_admin.html.twig'%}
    <div class="flash">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
</div>
    <div class="form">
    {% block form %}{% endblock %}
    {% block tmp_slide %}{% endblock %}
    {% block content %}{% endblock %}
    {% block adminFunction %}{% endblock %}
</div>

    {% include "@App/default/footer.html.twig" %}
    {% include "@App/default/up.html.twig" %}
    {% include "@App/default/script.html.twig" %}
</body>
</html>