<!doctype html>
<html lang="fr">
<head>
    {% include "@App/default/head.html.twig" %}
</head>
<body>
    {% include '@App/admin/partials/header_admin.html.twig'%}
    <div class="flash">
    {% block flash %}{% endblock %}
</div>
    <div class="form">
    {% block form %}{% endblock %}
    {% block content %}{% endblock %}
</div>

    {% include "@App/default/footer.html.twig" %}
    {% include "@App/default/up.html.twig" %}
    {% include "@App/default/script.html.twig" %}
</body>
</html>