@import "partials/var";
@import "partials/states";
@import "partials/responsive";
@import "partials/fonts";
a{
  color: $white;
  text-decoration: none;
}
h1, h2
{
  font-size: 25px;
}
body
{
  color: #ffffff;
  background: #000;
  width: 100%;
}
textarea, text
{
  width: 100%;
}
.case
{
  display: block;
  margin: auto;
  width: 20px !important;
  height: 20px !important;

}
.remember
{
  width: 30%;
  margin-left: 45%;
  text-align: right;
}
.case2
{
  display: inline;
}
.case-label
{
  width: 50%;
  display: inline;
}
img
{
  display: block;
  width: 100%;

}
.flash-notice
{
  background:rgba(0,0,0,0.8);
  color: $link;
}
.genre, .date
{
  border: 1px solid $link;
  background: $white;
}
hr
{
  color:#ffffff !important;
  border:2px solid $link !important;
  width: 100% !important;
  height: 2px !important;
  z-index: 500
}
input{
  display:block;
  width: 100%;
  height: 60px;
}
.links a
{
  color: $white;

}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background:rgba(0, 0, 0, 0.8);
}

.links
{
  list-style-type: none;
}
.link
{
  text-decoration: none;
}
.field, h2, p
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.statut
{
  color: $white;
  border: 2px solid $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 40px;

}
.statut_it
{
  text-align: center;
  font-size: 60px;

}
.statut p
{
  font-size: 40px;
  color: $link;
}
.corps
{
  padding: 20px;
  border: 3px solid #ffb630;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  margin-bottom: 50px;

}
.corps p
{
  text-align: center;}
.case
{
  width: 12px;
  height: 12px;
  margin: 20px;
}
.createUser_logo
{
  margin-bottom: 30px;
  font-size: 25px;
  color:#ffb630;
}

.submit button
{
  border: 2px solid $white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  color: $white !important;
  background: transparent;
  width: 100%;
  cursor: pointer;
}

.login-field
{
  width: 50%;
  margin: auto;
}
.login-field-submit {
  width: 15%;
  margin-left: 60%;
}
.login-field-submit, .login-field, .login-field-label
{
  border-radius: 50px;
  text-align: center !important;

}

.login-field-label
{
  margin-left: 28%;
  margin-top: 30px;
}