@import "partials/var";
@import "partials/states";
@import "partials/fonts";
::-webkit-scrollbar {									/* Scrollbars */
  width: 5px;
  height: 14px;
  background: transparent;
}
hr
{
  height: 1px;
  color: $white;
  opacity: 0.2;
}
a{
  color: $white;
  text-decoration: none;
  cursor: pointer;
}
h1, h2
{
  font-size: 15px;
}

p
{
  word-break: break-word;
}

body
{
  color: #ffffff;
  background: #000;
  width: 100%;
}
textarea, text
{
  width: 100%;
}
.case
{
  display: block;
  margin: auto;
  width: 20px !important;
  height: 20px !important;

}
.remember
{
  width: 30%;
  margin-left: 45%;
  text-align: right;
}
.case2
{
  display: inline;
}
.case-label
{
  width: 50%;
  display: inline;
}
img
{
  display: block;
  width: 100%;

}
.success
{
  color:lawngreen;
}
.error
{
  color:red;
}
.flash-icon, .flash-notice, .flash-error
{
  padding: 40px;
}

.flash
{
  background:rgba(0,0,0,0.8);
  color: $white;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.genre, .date
{
  border: 1px solid $link;
  background: $white;
}
.date select
{
  width: 33%;
  text-align: center;
}
hr
{
  color:#ffffff !important;
  border:2px solid $link !important;
  width: 100% !important;
  height: 2px !important;
  z-index: 500
}
input{
  display:block;
  width: 100%;
  height: 60px;
}
.links a
{
  color: $white;

}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background:rgba(0, 0, 0, 0.8);
}

.links
{
  list-style-type: none;
}
.link
{
  text-decoration: none;
  cursor: pointer;
}
.field, h2, p
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.statut
{
  color: $white;
  border: 2px solid $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 40px;

}
.statut_it
{
  text-align: center;
  font-size: 30px;

}
.statut p
{
  font-size: 25px;
  color: $link;
}
.corps
{
  padding: 20px;
  border: 3px solid #ffb630;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 98%;
  margin: auto;
  margin-bottom: 50px;

}
.corps p
{
  text-align: center;}
.case
{
  width: 12px;
  height: 12px;
  margin: 20px;
}
.createUser_logo
{
  margin-bottom: 30px;
  font-size: 25px;
  color:#ffb630;
}

.submit button, .update, .delete
{
  border: 2px solid $white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  color: $white !important;
  background: transparent;
  width: 100%;
  cursor: pointer;
}
.admin_link
{
  display: block;
  width: 10%;

}
.admin_container
{
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.login-field
{
  width: 50%;
  margin: auto;
}
.login-field-submit {
  width: 15%;
  margin-left: 60%;
}
.login-field-submit, .login-field, .login-field-label
{
  border-radius: 50px;
  text-align: center !important;

}

.login-field-label
{
  margin-left: 28%;
  margin-top: 30px;
}
.preview{
  padding: 10px;
}

.post-link
{
  width: 100%;
}
.admin-menu
{
  border:1vh solid $link;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: fixed;
  width: 98vw;
  top:1vh;
  background: $black;
  padding: 60px;
  padding-top: 0;
  padding-bottom: 20px;
  left:1vh;
  overflow-y: auto;
  z-index:500;
  pointer-events: auto;
  height: 98vh;
}
.show-line-titre
{
  font-size: 20px;
  padding-top: 50px;
}

.show-line-edit,.show-line-trash
{
  font-size: 30px;
  padding-top: 50px;
}
.fa-trash
{
  color: red ;
}
.fa-pen
{
  color: greenyellow;
}

.header-popup-title
{
  padding-top: 55px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: $link;
}
.popup-header
{
  position: sticky;
  background: $black;
  top: 0;
  z-index: 600;
}
.show-line
{
  text-align: center;
}
.header-popup-title, .add-link
{
  display: block;
  width: 80%;
  text-align: center;
  margin: auto;
}
.add-link
{
  padding-top: 55px;
}
.img
{
  border: 1px solid $white ;
}
@import "partials/responsive";
