<ul class="shows-admin-menu" id="shows-admin-menu">

    <a href="">
        <li class="create-show-menu">
            <i class="fal fa-plus"></i> ajouter un spectacle

        </li>
    </a>
    {% for leShow in leShows %}

    {% endfor %}
</ul>