<div class="admin_container edit">
    <a href="{{ path('admin_update_show',  {'id': leShow.id}) }}" class="admin_link update_link">
        <i class="fal fa-pen"></i>
    </a>

    <a href="{{ path('admin_delete_show',  {'id': leShow.id}) }}" class="admin_link delete_link">
        <i class="fal fa-trash"></i>
    </a>
</div>