<header class="header container-fluid">
    <div class="header_bloc row">
        {# logo #}
        <div class="logo col-6 col-md-2">
            <a href="http://localhost:8000/">
                <img class="logo_fabulle" src="{{ asset('assets/img/logo_faBulle_2019.png') }}" alt="logo">
            </a>
        </div>

        {# Menu Administrateur #}

        <nav class="nav d-none d-lg-block col-lg-8">
            <div class="links d-flex justify-content-around">
                <p class="link" id="popup-header-show-open" onclick="showAdminPopup()">
                    Spectacles
                </p>
                {% include '@App/admin/partials/popup/admin_shows_dropdown.html.twig' %}

                <p class="link" id="popup-header-event-open" onclick="eventAdminPopup()">
                    Evènements
                </p>
                {% include '@App/admin/partials/popup/admin_events_dropdown.html.twig' %}

                <p class="link" id="popup-header-post-open" onclick="postAdminPopup()">
                    Articles
                </p>
                {% include '@App/admin/partials/popup/admin_posts_dropdown.html.twig' %}

                <p class="link" id="popup-header-places-open" onclick="placeAdminPopup()">
                    Lieux
                </p>
                {% include '@App/admin/partials/popup/admin_places_dropdown.html.twig' %}
                <p class="link" id="popup-header-referencies-open" onclick="referenciesAdminPopup()">
                    Réferences
                </p>
                {% include '@App/admin/partials/popup/admin_referencies_dropdown.html.twig' %}



            </div>
        </nav>

        {#<nav class="dropdown show nav d-lg-none d-block col-2">#}

        {#<a href="#" class="btn btn-secondary dropdown-toggle links" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
        {#<p><i class="fas fa-bars"></i></p>#}
        {#</a>#}
        {#<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
        {#{% for item in menu.items %}#}
        {#<a class="dropdown-item link" href="{{ item.link }}">{{ item.title }}</a>#}
        {#{% endfor %}#}
        {#</div>#}

        {#</nav>#}


    </div>
</header>
