<a id="article-anch3" class="anch col-md-12"></a>
<h2 class="article-h1">A L'AFFICHE</h2>
<div class="article-loop article-loop2 container-fluid">
    {% for leShow in leShows %}

        {% if leShow.DispoBoolean %}

            <div class="show2 row">
                <a class="row" href="{{path ('admin_show_id', {'id': leShow.id}) }}">
                    <h2 class="col-12 article-h1 h1-event">
                        <span>
                            {{ leShow.Titre }}
                        </span>
                    </h2>

                    <div class="thumb-medal thumb-medal2 col-md-12">
                        <img src="{{ asset('assets/uploads/' ~ leShow.img1) }}" alt="affiche" class="affiche">
                    </div>
                    <p class=" medal-text col-md-12">
                        {{ leShow.text1 }}
                    </p>
                </a>
            </div>
        {% endif %}

    {% endfor %}

</div>